* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	font: bold 14px Arial, sans-serif;
}

#calculator {
	width: 325px;
	height: auto;
	
	margin: 100px auto;
	padding: 20px;
	
	background: green;
	border: solid;
}


/*Screen*/
.screen {
	width: 280px;
	height: 40px;

	margin-bottom: 20px;

	background: grey;

	/* “екст на экране */
	font-size: 17px;
	line-height: 40px;
	color: white;
	text-align: right;
	letter-spacing: 1px;
}

.keys {
	overflow: hidden;
}

.keys span {
	float: left;
	position: relative;

	cursor: pointer;

	width: 62px;
	height: 36px;
	
	background: black;

	margin: 0 8px 11px 0;

	color: white;
	line-height: 36px;
	text-align: center;

	user-select: none;

	transition: all 0.2s ease;
}

.keys span.operator {
	margin-right: 0;
	background: grey;
}

.keys span.clear, span.zero {
	width: 132px;
}

.keys span.clear {
	background: #9dd2ea;
}


/*Ёффекты при наведении*/
.keys span:hover {
	background: #9dd2ea;
	color: white;
}


/*Ёффекты при нажатии*/
.keys span:active {
	box-shadow: 0px 0px #6b54d3;
	top: 1px;
}
